/**
 * Footer
 */
footer {
  width: 100%;
  // position: relative;
  background-color: $body-light;
  border-top: 2px solid $glowing-red;
  padding: 20px 0;
}
.footer--title {
  text-align: center;
  @media only screen and (min-width: $screen-md-min) {
    text-align: left;
    padding-left: 16px;
  }
}

.footer__col1 {
  text-align: center;

  @media only screen and (min-width: $screen-md-min) {
    text-align: left;
  }
}
.footer__col4 {
  text-align: center;

  @media only screen and (min-width: $screen-md-min) {
    text-align: right;
  }
}
.footer-logo {
  background-image: url("../images/areto.svg");
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  // position: relative;
  @media only screen and (min-width: $screen-md-min) {
    background-position: right;
  }
}

.list--01.justify-content--center,
.list--02.justify-content--center {
  flex-direction: row;
  @media only screen and (min-width: $screen-md-min) {
    flex-direction: column;
    align-items: flex-start;
  }
}
