/**
 * Forms
 */
.newsletter {
  margin: 40px 0;
  @media only screen and (min-width: $screen-md-min) {
    margin: 100px 0;
  }
}
.newsletter--title {
  margin-top: 0;
  margin-bottom: 10px;

  @media only screen and (min-width: $screen-md-min) {
    margin-bottom: 45px;
  }
}
form {
  .text--lead {
    color: $text-dark;
    margin-bottom: 18px;
    @media only screen and (min-width: $screen-md-min) {
      margin-bottom: 25px;
    }
  }
  .btn--primary {
    margin: 0;
    color: $body-light;
    width: 100%;
    height: 40px;
    @media only screen and (min-width: $screen-md-min) {
      width: 175px;
    }
  }
  input[type="text"] {
    width: 100%;
    border-color: #d4d4d4;
    margin-bottom: 10px;
    height: 40px;

    @media only screen and (min-width: $screen-md-min) {
      width: 300px;
    }
  }
  ::placeholder {
    font-size: $font-size-14;
    font-weight: $weight-light;
    font-family: $font-family-default;
    color: $text-light;
    line-height: 16px;
    padding-left: 5px;
  }
}
