/**
 * Grid
 */

.grid,
%grid {
  margin-left: -$grid-gutter;

  &--multiline {
    .grid__item,
    %grid__item {
      padding-top: $grid-gutter;
    }
  }
}

.grid__item,
%grid__item {
  padding-left: $grid-gutter;
}

@media (max-width: $screen-sm-max) {
  .grid,
  %grid {
    margin-left: -$grid-gutter-small;

    &--multiline {
      .grid__item,
      %grid__item {
        padding-top: $grid-gutter-small;
      }
    }
  }

  .grid__item,
  %grid__item {
    #{$padding-left}: $grid-gutter-small;
  }
}
