/**
 * Featured 01
 */

.activities__item {
  position: relative;
  .activities__title {
    color: $body-light;
    position: absolute;
    top: 35%;
    left: 21%;
  }
}

.activities--image01 {
  background-image: url("../images/activity01-sport.svg");
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  // tablet
  @media only screen and (min-width: $screen-md-min) {
    background-image: url("../images/activity01-sport.svg");
    height: 310px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  // desktop
  @media only screen and (min-width: $screen-lg-min) {
    background-image: url("../images/activity01-sport.svg");
    height: 310px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.story__item--item02 {
  padding-top: 10px;
  padding-bottom: 10px;
  @media only screen and (min-width: $screen-md-min) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

// .story--image02 {
//   background-image: url("../images/step02-tablet.svg");
//   height: 240px;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   border-radius: 5px;
//   @media only screen and (min-width: $screen-md-min) {
//     background-image: url("../images/step02-tablet.svg");
//     height: 400px;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//   }
// }

// .story--image03 {
//   background-image: url("../images/step03-tablet.svg");
//   height: 240px;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   border-radius: 5px;
//   @media only screen and (min-width: $screen-md-min) {
//     background-image: url("../images/step03-tablet.svg");
//     height: 400px;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//   }
// }
