/**
 * Layout
 */
.main {
  width: 100%;
}

.content-wrapper {
  margin: 0 auto;
  padding: 0 10px;

  //desktop from 1025
  @media only screen and (min-width: $screen-lg-min) {
    max-width: 940px;
  }
}

section {
  margin-top: 35px;
  @media only screen and (min-width: $screen-lg-min) {
    margin-top: 95px;
  }
  &:nth-child(4) {
    margin-bottom: 40px;
    @media only screen and (min-width: $screen-lg-min) {
      margin-bottom: 100px;
    }
  }
  h3 {
    margin: 0 0 15px 0;
    @media only screen and (min-width: $screen-lg-min) {
      margin: 0 0 35px 0;
    }
  }
}
