/**
 * Layout
 */
.main {
  width: 100%;
  //   padding: 100px 0 150px;
}

.content-wrapper {
  margin: 0 auto;
  //   max-width: 290px;
  padding: 0 10px;
  //tablet from 320
  //   @media only screen and (min-width: $screen-xs-min) {
  //     max-width: 1024px;

  //     // padding: 0 20px;
  //   }
  //desktop from 1025
  @media only screen and (min-width: $screen-lg-min) {
    max-width: 940px;
  }
}
