/**
 * Featured
 */

.featured__item {
  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  height: 240px;
  @media only screen and (min-width: $screen-md-min) {
    height: 400px;
  }
}

.featured__paragraph,
.featured__title,
.featured__button {
  position: relative;
  z-index: 2;
  margin: 0 0 15px 20px;
  @media only screen and (min-width: $screen-md-min) {
    margin: 0 0 20px 20px;
  }
}

.featured__image {
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    display: block;
  }
}
