/**
 * Team
 */
.team.grid {
  margin-top: 35px;
  .text--default {
    color: $text-dark;
  }
}

.team__item {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__button {
  margin-top: 40px;
}
