/**
 * Global:
 */

html,
body {
  font-family: $font-family-default;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  background-color: la;
  color: $text-default;
  font-size: $font-size-base;
}

/**
 * Headers:
 */
