/**
 * Global:
 */

html,
body {
  font-family: $font-family-default;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  background-color: $body-light;
  color: $text-dark;
  font-size: $font-size-base;
}

/**
 * Headers:
 */

p {
  margin: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: $weight-bold;
  color: $text-darker;
  font-family: $font-family-headers;
  @media only screen and (min-width: $screen-sm-min) {
    line-height: 1.25;
  }
}

h1,
.h1 {
  font-size: $font-size-30;
  color: $body-light;
  // tablet view
  @media only screen and (min-width: $screen-md-min) {
    font-size: $font-size-52;
  }
}

h2,
.h2 {
  font-size: $font-size-24;
  color: $body-light;
}

h3,
.h3 {
  font-size: $font-size-22;
  color: $text-darker;
}

h4,
.h4 {
  font-size: $font-size-20;
  color: $body-light;
  line-height: 24px;
}

h5,
.h5 {
  font-size: $font-size-16;
  color: $glowing-red;
}

h6,
.h6 {
  font-size: $font-size-14;
  color: $text-darker;
}

/**
 * Text categories:
 */
.text--default {
  font-size: $font-size-14;
  font-weight: $weight-regular;
  font-family: $font-family-default;
  color: $text-lightest;
  line-height: 14px;
}

.text--lead {
  font-size: $font-size-18;
  font-weight: $weight-light;
  line-height: 24.5px;
  color: $body-light;
  font-family: $font-family-default;

  @media only screen and (min-width: $screen-md-min) {
    font-size: $font-size-24;
  }
}

.text--small {
  font-size: $font-size-10;
  font-weight: $weight-regular;
  color: $text-lighter;
  font-family: $font-family-headers;
  line-height: 12px;
}
