/**
 * Featured
 */

.story__item {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  @media only screen and (min-width: $screen-md-min) {
    padding: 0px;
  }
}

.story__paragraph,
.story__title,
.story__button {
  position: absolute;
  left: 35px;
}
.story__paragraph {
  bottom: 25px;
  @media only screen and (min-width: $screen-md-min) {
    bottom: 21px;
  }
}
.story__title {
  bottom: 70px;
  @media only screen and (min-width: $screen-lg-min) {
    bottom: 82px;
  }
}
.story__button {
  bottom: 150px;
}

.story__image {
  img {
    height: 240px;
    width: 100%;

    border-radius: 5px;
    @media only screen and (min-width: $screen-md-min) {
      height: 400px;
    }
    @media only screen and (min-width: $screen-lg-min) {
      height: 400px;
    }
  }
}
