/**
 * Featured 02
 */
.team.grid {
  margin-top: 35px;
  .text--default {
    color: $text-dark;
  }
}

.team__item {
  position: relative;
  width: 220px;
  height: 224px;
  .team__image img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
}

.team__call2action {
  margin-top: 36px;
}
