{% load wagtailcore_tags static %}
<section>
    <h3 class="text-center mrgb+++ mrgt+++">Discover holiday activity ideas</h3>
    <div class="activities grid grid--multiline grid--center">
        <!-- activitiy-01 -->
        <div class="activities__item activities__item--01 w-1/1 md-w-1/3 lg-w-1/3 grid__item">
            <div class="activities__image activities--image01"></div>
            <h3 class="activities__title">SportsActivities</h3>
        </div>

        <!-- activitiy-02 -->
        <div class="activities__item activities__item--02 w-1/1 md-w-1/3 lg-w-1/3 grid__item">
            <div class="activities__image activities--image02"></div>
            <h3 class="activities__title">Wellness and Health</h3>
        </div>

        <!-- activitiy-03 -->
        <div class="activities__item activities__item--03 w-1/1 md-w-1/3 lg-w-1/3 grid__item">
            <div class="activities__image activities--image03"></div>
            <h3 class="activities__title">Extreme Sports
                and Expeditions</h3>
        </div>

        <!-- activitiy-04 -->
        <div class="activities__item activities__item--04 w-1/1 md-w-1/3 lg-w-1/3 grid__item">
            <div class="activities__image activities--image04"></div>
            <h3 class="activities__title">Games</h3>
        </div>

        <!-- activitiy-05 -->
        <div class="activities__item activities__item--05 w-1/1 md-w-2/3 lg-w-2/3 grid__item">
            <div class="activities__image activities--image05"></div>
            <h3 class="activities__title">Culture and Education</h3>
        </div>

        <!-- activitiy-06 -->
        <div class="activities__item activities__item--06 w-1/1 md-w-2/3 lg-w-2/3 grid__item">
            <div class="activities__image activities--image06"></div>
            <h3 class="activities__title">Enjomet and Relaxation</h3>
        </div>

        <!-- activitiy-07 -->
        <div class="activities__item activities__item--07 w-1/1 md-w-1/3 lg-w-1/3 grid__item">
            <div class="activities__image activities--image07"></div>
            <h3 class="activities__title">Trevelling</h3>
        </div>
    </div>
</section>