<!-- start of grid -->
<div class="story grid grid--center ">
    {% for post in blogpages %}

    <article class="story__item w-1/1 md-w-1/3 lg-w-1/3 grid__item">
        {% for block in post.specific.body %}
        <!-- image -->
        {% if block.block_type == 'image' %}
        <div class="story__image">{{ block }}
        </div>
        {% endif %}
        <!-- button -->
        {% if block.block_type == 'button' %}
        <button class="page-button btn btn--primary text--small btn--small text-uppercase">{{ block.value }}</button>
        <!-- title -->
        <h2 class="page-title">{{ post.specific.title }}</h2>
        <!-- paragraph -->
        {% elif block.block_type == 'paragraph' %}
        <p class="page-paragraph text--default">{{ block.value }}</p>
        {% else %}
        {% endif %}
        {% endfor %}
    </article>
    <!-- end of article------------------------------------------------------------------ -->
    {% endfor %}
</div>
<!-- end of grid -->