{% load wagtailcore_tags static%}
<footer class="footer">
    <div class="content-wrapper">
        <div class="grid grid--center text-center">

            <!-- Footer col1-->
            <div class="w-1/1 md-w-1/4 lg-w-1/4 grid__item footer__col1">
                <h5 class="text-uppercase">dreamshare</h5>
            </div>

            <!-- End of footer col1 -->
            <!-- Footer col2 -->
            <div class="w-1/1 md-w-1/4 lg-w-1/4 grid__item footer__col2">
                <h6 class="footer--title pdgb++">Company</h6>
                <ul class="list list--01 justify-content--center">
                    <li class="list__item pdgl++ pdgb++"><a href="#">About</a></li>
                    <li class="list__item pdgl++ pdgb++"><a href="#">Contact</a></li>
                    <li class="list__item pdgl++ pdgb++"><a href="#">Press</a></li>
                    <li class="list__item pdgl++ pdgb++"><a href="#">Blog</a></li>
                    <li class="list__item pdgl++ pdgb++"><a href="#">Terms and Privacy</a></li>
                    <li class="list__item pdgl++ pdgb++"><a href="#">Help </a></li>

                </ul>
            </div>

            <!-- End of footer col2 -->

            <!-- Footer col3 -->
            <div class="w-1/1 md-w-1/4 lg-w-1/4 grid__item footer__col3 pdgb++">
                <h6 class="footer--title pdgb++">Partner</h6>
                <ul class="list list--02 justify-content--center">
                    <li class="list__item pdgl++ pdgb++"><a href="#">About</a></li>
                    <li class="list__item pdgl++ pdgb++"><a href="#">Contact</a></li>
                    <li class="list__item pdgl++ pdgb++"><a href="#">Press</a></li>
                    <li class="list__item pdgl++ pdgb++"><a href="#">Blog</a></li>
                    <li class="list__item pdgl++ pdgb++"><a href="#">Terms and Privacy</a></li>
                    <li class="list__item pdgl++ pdgb++"><a href="#">Help </a></li>
                </ul>
            </div>
            <!-- End of footer col3 -->

            <!-- Footer col4 -->
            <div class="w-1/1 md-w-1/4 lg-w-1/4 grid__item footer__col4">
                <p class="text--small text-uppercase pdgb+">designed by</p>
                <div class="footer-logo"></div>
            </div>
            <!-- End of footer col4 -->
        </div>
    </div>
</footer>