{% extends "base.html" %}
{% load wagtailcore_tags static %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}

<main class="main">

    <section class="featured">
        <h3 class="text-center">How Dreamshare</h3>
        <div class="content-wrapper">
            <!-- start of grid -->
            <div class="story grid grid--center ">
                {% for page in featured %}
                {% for post in page.get_children %}

                <article class="story__item w-1/1 md-w-1/3 lg-w-1/3 grid__item">
                    {% for block in post.specific.body %}
                    <!-- image -->
                    {% if block.block_type == 'image' %}
                    <div class="story__image">{{ block }}
                    </div>
                    {% endif %}
                    <!-- button -->
                    {% if block.block_type == 'button' %}
                    <button
                        class="story__button btn btn--primary text--small btn--small text-uppercase">{{ block.value }}</button>
                    <!-- title -->
                    <h2 class="story__title"><a href="{% pageurl post %}">{{ post.specific.title }}</a></h2>
                    <!-- paragraph -->
                    {% elif block.block_type == 'paragraph' %}
                    <p class="story__paragraph text--default">{{ block.value }}</p>
                    {% else %}
                    {% endif %}
                    {% endfor %}
                </article>
                <!-- end of article------------------------------------------------------------------ -->
                {% endfor %}
                {% endfor %}

            </div>
            <!-- end of grid -->
        </div>
    </section>



    <section class="team">
        <h3 class="text-center">Meet a partner for your best holiday</h3>
        <div class="content-wrapper">
            <!-- start of grid -->
            <div class="team grid grid--center ">
                {% for page in teams %}
                {% for post in page.get_children %}

                <div class="team__item w-1/1 md-w-1/2 lg-w-1/4 grid__item text-center">

                    {% for block in post.specific.body %}

                    <!-- image -->
                    {% if block.block_type == 'image' %}
                    <div class="team__image">{{ block }}
                    </div>
                    {% elif block.block_type == 'name' %}
                    <!-- title -->
                    <a class="team__title h6 mrgb++" href=" {% pageurl post %}">{{ post.specific.title }}</a>
                    <!-- paragraph -->
                    {% elif block.block_type == 'paragraph' %}
                    <p class="team__paragraph text--default">{{ block.value }}</p>
                    {% else %}
                    <p class="team__button btn btn--special h6">{{ block.value }}</p>
                    {% endif %}
                    {% endfor %}

                </div>
                <!-- end of article------------------------------------------------------------------ -->
                {% endfor %}
                {% endfor %}
            </div>
            <!-- end of grid -->
        </div>
    </section>



    <section class="activities">
        <h3 class="text-center">Discover holiday activity ideas</h3>
        <div class="content-wrapper">
            <!-- start of grid -->
            <div class="activities grid grid--multiline grid--center">
                {% for page in activities %}
                {% for post in page.get_children %}

                <div class="activities__item grid__item w-1/1 md-w-1/3">
                    {% for block in post.specific.body %}
                    <!-- image -->
                    {% if block.block_type == 'image' %}
                    <div class="activities__image">{{ block }} </div>
                    <!-- title -->
                    {% elif block.block_type == 'name' %}
                    <a class="activities__title h3" href=" {% pageurl post %}">{{ post.specific.title }}</a>
                    {% endif %}
                    {% endfor %}

                </div>
                <!-- end of article------------------------------------------------------------------ -->
                {% endfor %}
                {% endfor %}
            </div>
            <!-- end of grid -->
        </div>
    </section>

    <section class="newsletter">

        {% block newsletter_form %}
        {% include "web/newsletter_form_page.html" %}
        {% endblock newsletter_form %}



    </section>

</main>
{% endblock %}