{% extends "base.html" %}
{% load wagtailcore_tags static %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}

<main class="main">

    <section class="featured">

        <div class="content-wrapper">
            <!-- start of grid -->
            {% for page in featured %}
            <h3 class="text-center">{{ page.title }}</h3>
            <div class="featured grid grid--multiline grid--center ">
                {% for post in page.get_children %}
                <article class="sm-w-1/3 md-w-1/3 lg-w-1/3 grid__item">
                    <div class="featured__item">
                        {% for block in post.specific.body %}
                        <!-- image -->
                        {% if block.block_type == 'image' %}
                        <picture class="featured__image">{{ block }}
                        </picture>
                        {% endif %}
                        <!-- button -->
                        {% if block.block_type == 'button' %}
                        <button
                            class="featured__button btn btn--primary text--small btn--small text-uppercase">{{ block.value }}</button>
                        <!-- title -->
                        <a class="featured__title h2" href=" {% pageurl post %}">{{ post.specific.title }}</a>
                        <!-- paragraph -->
                        {% elif block.block_type == 'paragraph' %}
                        <p class="featured__paragraph text--default">{{ block.value }}</p>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </article>
                <!-- end of article------------------------------------------------------------------ -->
                {% endfor %}
                {% endfor %}
            </div>
            <!-- end of grid -->
        </div>
    </section>



    <section class="team">
        <div class="content-wrapper">
            <!-- start of grid -->
            {% for page in teams %}
            <h3 class="text-center">{{ page.title }}</h3>
            <div class="team grid grid--center ">
                {% for post in page.get_children %}
                <div class="team__item w-1/1 md-w-1/2 lg-w-1/4 grid__item text-center">
                    {% for block in post.specific.body %}
                    <!-- image -->
                    {% if block.block_type == 'image' %}
                    <div class="team__image">{{ block }}
                    </div>
                    {% elif block.block_type == 'name' %}
                    <!-- title -->
                    <a class="team__title h6 mrgb++" href=" {% pageurl post %}">{{ post.specific.title }}</a>
                    <!-- paragraph -->
                    {% elif block.block_type == 'paragraph' %}
                    <p class="team__paragraph text--default">{{ block.value }}</p>
                    {% else %}
                    <p class="team__button btn btn--special h6">{{ block.value }}</p>
                    {% endif %}
                    {% endfor %}
                </div>
                <!-- end of article------------------------------------------------------------------ -->
                {% endfor %}
                {% endfor %}
            </div>
            <!-- end of grid -->
        </div>
    </section>



    <section class="activities">
        <!-- <h3 class="text-center">Discover holiday activity ideas</h3> -->
        <div class="content-wrapper">
            <!-- start of grid -->

            {% for page in activities %}
            <h3 class="text-center">{{ page.title }}</h3>
            <div class="activities grid grid--multiline grid--center">
                {% for post in page.get_children %}

                <div class="grid__item w-1/1 md-w-1/3">
                    <div class="activities__item">

                        {% for block in post.specific.body %}
                        <!-- image -->
                        {% if block.block_type == 'image' %}
                        <picture class="activities__image">{{ block }} </picture>
                        <!-- title -->
                        {% elif block.block_type == 'name' %}
                        <a class="activities__title h3" href=" {% pageurl post %}">{{ post.specific.title }}</a>
                        {% endif %}
                        {% endfor %}
                    </div>

                </div>
                <!-- end of article------------------------------------------------------------------ -->
                {% endfor %}
                {% endfor %}
            </div>
            <!-- end of grid -->
        </div>
    </section>

    <section class="newsletter">
        {% block newsletter_form %}
        {% include "web/newsletter_form_page.html" %}
        {% endblock newsletter_form %}
    </section>

</main>
{% endblock %}