/**
 * Header
 */
.header {
  // mobile
  z-index: 1;
  color: $body-light;
  height: 540px;
  width: 100%;
  position: fixed;
  background-color: brown;
  color: $body-light;
  // //tablet from 768
  @media only screen and (min-width: $screen-md-min) {
    height: 700px;
  }
}
.header .content-wrapper {
  padding: 20px 20px;
  //tablet from 768
  @media only screen and (min-width: $screen-md-min) {
    padding: 20px 50px;
  }
}
.hero-image {
  background-image: url("../images/header-image.svg");
  height: 540px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  //tablet from 768
  @media only screen and (min-width: $screen-md-min) {
    height: 700px;
  }
}

.header__call2action {
  text-align: center;
  position: relative;
  top: 115px;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

.header__top {
  flex-direction: column;
  .header__brand {
    order: 1;
    position: relative;
    top: 100px;
  }
  //tablet from 768
  @media only screen and (min-width: $screen-md-min) {
    flex-direction: row;
    .header__brand {
      order: 0;
      position: static;
    }
  }
}
.header__user {
  .btn--blank {
    padding-right: 20px;
  }
}
.btn--call2action {
  margin-top: 15px;
  width: 100%;
  //tablet from 768
  @media only screen and (min-width: $screen-sm-min) {
    margin-top: 35px;
    width: 225px;
  }
  @media only screen and (min-width: $screen-lg-min) {
    margin-top: 40px;
  }
}
